/*General Admin Style*/
.admin-wrapper {
    position: relative;
    padding: 30px;
}


/*Partners CSS*/
.partners {
	margin-top: 30px;
	display: flex; 
	flex-wrap: wrap;
    max-width: 75%;
}

.partners .partner {
	flex: 0 0 calc(33% - 90px);
}

.partners .partner {
    background: white;
    padding: 30px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    margin-bottom: 30px;
}

.partners .partner:not(:nth-child(3n+3)) {
	margin-right: 30px;
}

.partner img {
    max-height: 100px;
    height: 100px;
    width: 100%;
    object-fit: contain;
    margin: auto;
    display: block;
}

.partners label {
    font-weight: bold;
    display: block;
    margin: 5px 0px;
}

.partner input {
    width: 100%;
    padding: 10px;
}