/*General Admin Style*/
.toplevel_page_insurance_slider #wpcontent { padding-left: 0!important; }
button { cursor: position; }

.admin-wrapper {
    position: relative;
    padding: 30px;
}

.admin-wrapper pre {
    background: white;
    padding: 10px;
    display: inline-flex;
}

.admin-wrapper pre p { padding: 0!important; margin: 0!important; }

.no-flex { display: block!important; }

.admin-wrapper input {
    width: 100%;
    padding: 10px;
}

.admin-header .button-group {
	margin-top: 15px;
}

.update-btn { margin-left: 15px; visibility: hidden; }
.update-btn.enabled { visibility: visible; }

.admin-btn {
    background: green;
    color: white!important;
    font-size: 15px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    min-width: 150px;
    padding: 10px;
    text-align: center;
}

.admin-btn:hover {
	background: #4d7d4d;
}

.add-partner-modal {
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 9999;
}

.delete-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: red;
    display: none;
}

.add-partner-modal #add-partner-form {
    max-width: 300px;
    background: white;
    padding: 25px 25px 25px 25px;
    left: 0;
    right: 0;
    margin: auto;
    top: 200px;
    position: absolute;
}

.form-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0, 0, 0, .16);
}

.form-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-weight: bold;
    font-size: 14px;
}


#add-partner-form input { margin-bottom: 15px; }

/*Partners CSS*/
.partners {
	margin-top: 30px;
	display: flex; 
	flex-wrap: wrap;
    max-width: 75%;
}

.partners .partner {
	flex: 0 0 calc(33% - 90px);
}

.partners .partner {
    background: white;
    padding: 30px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
    margin-bottom: 30px;
    position: relative;
}

.partners .partner:not(:nth-child(3n+3)) {
	margin-right: 30px;
}

.partner img {
    max-height: 100px;
    height: 100px;
    width: 100%;
    object-fit: contain;
    margin: auto;
    display: block;
}

.partners label {
    font-weight: bold;
    display: block;
    margin: 5px 0px;
}

/*Shortcode CSS*/
.partners-fieldset input[type=checkbox] {
    width: auto;
}

.partners-fieldset { margin-bottom: 15px; }